---
import Layout from '@/src/layouts/Layout.astro';

import ProjectPreview from '@/src/components/ProjectPreview.astro';
import Hero from '@/src/components/Hero.astro';
import Grid from '@/src/components/Grid.astro';
import { loadCollection } from '@/src/utils/loadData';

// Locale
import { getLangFromUrl, useTranslations } from '@/src/i18n/utils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const projects = await loadCollection(locale);
---

<Layout
	title={t('projects.title') + ' | Leandro Pata'}
	description={t('projects.description')}
>
	<div class='stack gap-20'>
		<main
			class='wrapper stack gap-8'
			transition:animate='fade'
		>
			<Hero
				title={t('projects.title')}
				tagline={t('projects.tagline')}
				align='center'
			/>
			<Grid variant='offset'>
				{
					projects.map((project) => (
						<li>
							<ProjectPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</Layout>
