---
import Layout from '@/src/layouts/Layout.astro';

import ProjectPreview from '@/src/components/ProjectPreview.astro';
import Hero from '@/src/components/Hero.astro';
import Grid from '@/src/components/Grid.astro';
import { loadCollection } from '@/src/utils/loadData';

// Locale
import { getLangFromUrl } from '@/src/i18n/utils';

const locale = getLangFromUrl(Astro.url);

const projects = await loadCollection(locale);
---

<Layout
	title='My Projects | Leandro Pata'
	description="Learn about Leandro Pata's projects'"
>
	<div class='stack gap-20'>
		<main
			class='wrapper stack gap-8'
			transition:animate='fade'
		>
			<Hero
				title='My Projects'
				tagline='See all my projects to get an idea of my past experience'
				align='center'
			/>
			<Grid variant='offset'>
				{
					projects.map((project) => (
						<li>
							<ProjectPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</Layout>
