---
import ContactCTA from '@/src/components/ContactCTA.astro';
import { getLangFromUrl, useTranslations } from '@/src/i18n/utils';
import MainLayout from '@/src/layouts/MainLayout.astro';
import { CDN } from '../utils/constants';

const locale = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(locale);
---

<MainLayout
	title={t('404.title')}
	description={t('404.description')}
>
	<div>
		<main style='min-height: 50vh'>
			<div class='container'>
				<h1>404</h1>
				<h1>{t('404.text')}</h1>
				<img
					src={`${CDN}/assets/404.gif`}
					alt='Page not found'
					loading ="lazy"
					decoding="async"
				/>
			</div>
		</main>
		<ContactCTA class='contact' />
	</div>
</MainLayout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		text-align: center;
	}

	.contact {
		justify-self: end;
		justify-content: end;
		justify-items: end;
	}
</style>
