---
import Icon from '@/src/components/Icon.astro';
import { SOCIAL_LINKS } from '@/src/utils/constants';

const currentYear = new Date().getFullYear();
---

<footer>
	<p>
		Designed & Developed with <a
			href='https://astro.build/'
			target='_blank'
			>Astro</a
		> by Leandro Pata
	</p>
	<p>&copy; {currentYear} Leandro Pata</p>
	<p class='socials'>
		<a
			href={SOCIAL_LINKS.GITHUB}
			target='_blank'
		>
			GitHub</a
		>
		<a
			href={SOCIAL_LINKS.LINKEDIN}
			target='_blank'
		>
			LinkedIn</a
		>
	</p>
</footer>

<style>
	footer {
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
			padding: 2.5rem 5rem;
			text-align: unset;
			gap: 1rem;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
