---
import { languages } from '@/src/i18n/ui';
import getFlagEmoji from '@/src/utils/getLanguageFlag';
---

<language-select>
	<select
		name='language-select'
		id='language-select'
		aria-label='Select language'
	>
		{
			Object.entries(languages).map(([lang, label]) => (
				<option value={lang}>{getFlagEmoji(lang) + ' ' + label}</option>
			))
		}
	</select>
</language-select>

<style>
	select {
		background-color: transparent;
		border: none;
		color: var(--gray-100);
		font-size: var(--text-base);
	}
</style>

<script>
	import { navigate } from 'astro:transitions/client';
	import {
		getBaseUrl,
		getLangFromUrl,
		useTranslatedPath,
	} from '@/src/i18n/utils';

	class LanguageSelect extends HTMLElement {
		constructor() {
			super();
			const select = this.querySelector('select')!;

			// Change language when a new value is selected
			select.addEventListener('change', this.setLanguage);
		}

		connectedCallback() {
			this.updateSelect();
			document.addEventListener('astro:page-load', this.updateSelect);
		}

		updateSelect() {
			const select = this.querySelector('select')!;
			select.value = getLangFromUrl(window.location.pathname);
		}

		// Set the language to current value
		setLanguage(event) {
			const selectedLanguage = event.target.value;
			if (selectedLanguage) {
				const currentLanguage = getLangFromUrl(window.location.pathname);

				if (currentLanguage && selectedLanguage !== currentLanguage) {
					const basePath = getBaseUrl(window.location.pathname);
					const translatePath = useTranslatedPath(selectedLanguage);
					navigate(translatePath(basePath));
				}
			}
		}
	}
	customElements.define('language-select', LanguageSelect);
</script>
